/* Global CSS
-----------------*/
body {
	overflow-x:hidden;
}

/*font settings
------------------
Default is lato light(weight 300). To use lato normal change font-weight to 400.*/
body,h1,h2,h3,h4,h5,h6,p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.info-box h1, .contact h1 {
	font-weight:400;
}

/*text*/
h1,h2,h3 {
	text-align: center;
}

/*buttons*/
.btn , .btn:focus{
	background-color: rgba(247,192,66,1);
/* 	box-shadow: 0px 3px 5px #000000; */
	border: none;
}

.btn:hover {
	background-color: rgba(247,192,66,.8);
}

.input-group  .form-control:last-child{
	border-radius: 10px;
}

/*Specific component CSS
----------------*/
/* Navbar
-----------------*/
.navbar {
	margin-bottom: 0px;
	background-color: rgba(247,148,29,1);
	border-width: 0px;
}
.navbar ul {
   padding-right: 10px;
}
.navbar li a:link, .navbar li a:visited{
   background-color: rgba(247,148,29,1);
	 color: rgba(247,192,66,1);
   font-weight: 400;
	 font-size: 18px;
}
.navbar-left li{
   background-color: rgba(247,148,29,1);
	 color: rgba(247,192,66,1);
   font-weight: 400;
	 font-size: 28px;
	 margin: 5px 0px 0px 10px;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus{
	background-color: rgba(247,148,29,1);
	border-color: rgba(247,192,66,1);
}

.navbar .navbar-toggle:hover, .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{
	background-color: rgba(247,192,66,1);
}

.navbar .dropdown-menu{
	background-color: rgba(247,148,29,1);
	border: 0px;
}

.navbar .logo {
	max-width: 155px;
	height: auto;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top: -6px;
}

.navbar .dropdown-menu li a:hover {
	color: black;
}

.navbar .collapse, .navbar {
	border: 0px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: rgba(247,192,66,1);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	color: black;
}

/* Cover Panel
----------------*/	
.cover-page, .picture-panel{
	position: relative;
}
.cover-page  > .col-xs-12, .picture-panel > .col-xs-12{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.cover-caption{
	background-color:rgba(126,157,228,.75);
	float: none;
	border-radius: 10px;
	padding: 20px 30px;
}
.cover-caption h3{
	margin: 0px auto 5px auto;
	color: white;
	text-align: center;
}
.cover-caption .container {
	width: 100%;
	padding: 0px;
}
.cover-caption .container a.btn {
	margin: 0px auto;
	width: 150px;
}
@media (max-width: 479px){
	.cover-caption{
		margin: 20% auto;
		width: 290px;
		height: 100px;
		padding: 10px 10px;
	}
	.cover-caption h3{
		font-size: 16px;
	}
	.cover-caption .container {
		margin: 10px auto;
	}
	.cover-caption a.btn {
		width: 50px;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.cover-caption{
		margin: 32% auto;
		width: 360px;
		height: 110px;
		padding: 10px 20px;
	}
	.cover-caption h3{
		font-size: 18px;
	}
	.cover-caption .container {
		margin: 10px auto;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.cover-caption{
		margin: 35% auto;
		width: 440px;
		height: 140px;
	}
	.cover-caption h3{
		font-size: 20px;
	}
	.cover-caption .container {
		margin: 20px auto;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.cover-caption{
		margin: 35% auto;
		width: 500px;
		height: 160px;
	}
	.cover-caption h3{
		font-size: 24px;
	}
	.cover-caption .container {
		margin: 20px auto;
	}
}
@media (min-width: 1200px) {
	.cover-caption{
		margin: 35% auto;
		width: 550px;
		height: 170px;
	}
	.cover-caption h3{
		font-size: 28px;
	}
	.cover-caption .container {
		margin: 20px auto;
	}
}


/*Picture Panels CSS
---------------------*/
.picture-panel > .col-xs-12 > .info-box {
	background-color:rgba(0,0,0,.6);
	float: none;
	border-radius: 10px;
	display:inline-block;
	vertical-align: middle;
	text-align: left;
	font: 1rem/1 'Lato', sans-serif; /* <-- Reset the font */
	margin-left: auto;
	margin-right: 30px;
}
.info-box h1{
	color: rgba(243,151,24,1);
	text-align: center;
}
.info-box p{
	color: rgba(243,151,24,1);
}

.picture-panel > .col-xs-12 {
	font:0/0 a;
	text-align: right;
}
.picture-panel > .col-xs-12:before {
	content: ' ';
	display: inline-block;
	vertical-align:middle;
	height: 100%;
}

@media (max-width: 767px) {
	.picture-panel > .col-xs-12{
	position: relative;
	}
	.picture-panel{
		background-color:rgba(0,0,0,1);
	}
	.picture-panel > .col-xs-12 {
		text-align: left;
	}
	.picture-panel > .col-xs-12 > .info-box {
		float: left;
		text-align: left;
		margin-right: 0px;
		margin-left: 10%;
		width: 80%;
		padding: 30px 0px;
	}

	.info-box h1{
		margin: 0px auto 10px auto;
		font-size: 24px;
	}
	.info-box p{
		font-size: 16px;
		margin: 0px 0px 10px 0px;
	}
	.info-box .button-div {
		display:block;
		text-align:center;
		margin: 20px auto 0px auto;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.info-box {
		width: 300px;
		padding: 10px 25px;
	}
	.info-box h1{
		margin: 10px auto 10px auto;
		font-size: 30px;
	}
	.info-box p{
		font-size: 18px;
		margin: 0px 0px 10px 0px;
	}
	.info-box .button-div {
		margin: 20px 82.5px;
	}
	.device .info-box{
		height:400px;
	}
	.content .info-box{
		height:390px;
	}
	.penpal .info-box{
		height:330px;
	}
}

@media (min-width: 992px) {
	.info-box {
		width:360px;
		padding: 20px 30px;
	}
	.info-box h1{
		margin: 10px auto 20px auto;
		font-size: 36px;
	}
	.info-box p{
		font-size: 20px;
		margin: 0px 0px 20px 0px;
	}
	.info-box .button-div {
		margin: 30px 102.5px;
	}
	.device .info-box{
		height:490px;
	}
	.content .info-box{
		height:460px;
	}
	.penpal .info-box{
		height:380px;
	}
}


/* blue text on white background panels css
----------------*/
.mission, .page-7, .device-after, .penpal-before{
	margin: 60px auto;
}

.contact {
	margin: 30px auto;
}

.mission h1, .page-7 h1, .device-after, .penpal-before{
	color:rgba(126,157,228,1);
	margin-bottom: 60px;
}

.contact h1{
	color:rgba(126,157,228,1);
	margin-bottom: 30px;
}

.mission h1, .device-after h1, .penpal-before h1, .contact h1 {
	margin-top: 0px;
}
@media (max-width: 767px){
	.mission h1, .page-7 h1, .contact h2, .device-after h1, .penpal-before h1{
		margin-left: 5%;
		margin-right: 5%;
	}
	.contact h1{
		margin-top: 0px;
		margin-bottom: 10px;
	}
}
@media (min-width: 768px) {
	.page-7 h2, .contact h2, .contact h3{
		margin: 0px 30px 30px 30px;
	}
	.mission h1, .device-after h1, .penpal-before h1, .penpal-after h1{
		margin-left: 5%;
		margin-right: 5%;
	}
}
@media (min-width: 992px) {
	.mission h1, .device-after h1, .penpal-before h1, .penpal-after h1{
		margin-left: 5%;
		margin-right: 5%;
	}
}
@media (min-width: 1200px) {
	.mission h1, .device-after h1, .penpal-before h1, .penpal-after h1{
		margin-left: 15%;
		margin-right: 15%;
	}
}
.page-7 h2, .contact h2, .contact h3{
	color: rgba(126,157,228,1);
}

/*mission panel*/
.mission img {
	float:right;
	max-width: 150px;
}
.mission img:hover {
	opacity: 0.7;
}
.mission .btn {
	margin: 52px 20px;
	float:left;
}

@media (max-width: 479px) {
	.mission img {
		display: block;
		float: none;
		margin:0px auto;
		max-width: 150px;
	}
	.mission .btn {
		float: none;
		display: block;
		margin: 30px auto;
		max-width: 150px;
	}
}


/*device specs panel*/
.page-7 img {
	display: block;
	margin: 30px auto;
}
.page-7 .col-xs-12 h2{
	text-align: center;
	margin: 30px 30px;
}


/*contact*/
.contact .input-group {
	width: 50%;
	margin: 20px auto;
	display: block
}

@media (max-width: 479px) {
	.contact .input-group {
		width: 90%;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.contact .input-group {
		width: 70%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
.contact .input-group {
		min-width: 501px;
	}
}
@media (max-width: 767px) {
	.contact .row:nth-child(3){
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

.contact .btn {
	margin: 20px auto;
	width: 200px;
}

.contact .statusMessage {
  display: none;
}

/* White text on Blue Background CSS
----------------*/
.summary, .content-after, .penpal-after {
	background-color:rgba(126,157,228,1);
	padding: 60px 0px;
}
.summary h1, .summary h2, .content-after h1, .content-after h2, .content-after p, .penpal-after h1{
	color: white;
}
.summary h1, .content-after h1, .penpal-after h1 {
	margin-top: 0px;
	margin-bottom: 50px;
}
.summary h2, .content-after h2{
	font-size: 24px;
	margin: 0px auto 30px auto;
}
.summary img, .content-after img{
	display:block;
	margin: auto auto;
}
/*adjustments for individual white on blue panels*/
.summary img:hover {
	opacity: .7;
}
.summary .summary-device {
	float:right;
}
.summary .summary-program {
	float:left;
}
.content-after .row:nth-child(3){
	margin-top: 30px;
}
.content-after .row, .summary .row {
	margin-left: 2%;
	margin-right: 2%;
}
.content-after .row:nth-child(2) .col-sm-4:nth-child(1) img,
.content-after .row:nth-child(3) .col-sm-4:nth-child(1) img {
 float:right;
}
.content-after .row:nth-child(2) .col-sm-4:nth-child(3) img,
.content-after .row:nth-child(3) .col-sm-4:nth-child(3) img {
 float:left;
}
@media (max-width: 767px) {
	.summary h1, .content-after h1, .penpal-after h1{
		margin-left: 5%;
		margin-right: 5%;
	}
	.summary h1 {
		margin-bottom: 0px;
	}
	.summary .row:nth-child(2), .summary .row:nth-child(3),
	.summary .row:nth-child(4) {
		display:none;
	}
	.summary h1{
	margin-top: 0px;
	}
	.content-after .row:nth-child(4) {
	 margin-bottom: 30px;
	}
	.content-after .row:nth-child(4) .col-xs-6:nth-child(1) img,
	.content-after .row:nth-child(5) .col-xs-6:nth-child(1) img {
	 float:right;
	}
	.content-after .row:nth-child(4) .col-xs-6:nth-child(2) img,
	.content-after .row:nth-child(5) .col-xs-6:nth-child(2) img {
	 float:left;
	}
}
.penpal-after h1{
	margin-bottom: 0px;
}
@media (min-width: 768px) {
	.summary h1, .content-after h1, .penpal-after h1, .contact h2{
		margin-left: 30px;
		margin-right: 30px;
	}
}
@media (min-width: 992px) {
	.summary h1, .content-after h1, .penpal-after h1, .contact h2{
		margin-left: 5%;
		margin-right: 5%;
	}
}
@media (min-width: 1200px) {
	.summary h1, .content-after h1, .penpal-after h1, .contact h2{
		margin-left: 15%;
		margin-right: 15%;
	}
}

/*Learn More Pages
---------------------------------------------------*/
.present{
	background-color:rgba(126,157,228,1);
}
.present h1, .present p{
	color:white;
}
.concept .row, .present .row, .future .row{
	margin-top: 30px;
	margin-bottom: 30px;
}
.concept, .future{
	background-color:white;
}
.concept h1, .concept p, .future h1, .future p{
	color:rgba(126,157,228,1);
}
.concept h1 {
	font-weight: 600;
	margin-bottom: 25px;
	margin-top: 0px;
}
.concept p, .future p{
	text-align: left;
	margin: 10px auto 10px auto;
	display: block;
	float:none;
}

.present .row .text-div .col-xs-12 {
	padding: 0px;
}

@media (max-width: 479px) {
	.concept .row, .future .row{
		margin-left: 2%;
		margin-right: 2%;
	}
	.present .row{
		margin-left: 2%;
		margin-right: 2%;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.concept .row, .future .row{
		margin-left: 10%;
		margin-right: 10%;
	}
	.present .row{
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.concept .row, .future .row{
		margin-left: 10%;
		margin-right: 10%;
	}
	.present .row{
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media (min-width: 992px) {
	.concept .row, .future .row{
		margin-left: 15%;
		margin-right: 15%;
	}
	.present .row{
		margin-left: 2%;
		margin-right: 2%;
	}
	.present .row .text-div:nth-child(1) .col-xs-12 {
		padding-right: 20px
	}
	.present .row .text-div:nth-child(2) .col-xs-12 {
		padding-left: 20px;
	}
}
@media (min-width: 1200px) {
	.concept .row, .future .row{
		margin-left: 20%;
		margin-right: 20%;
	}
	.present .row{
		margin-left: 5%;
		margin-right: 5%;
	}
}

.learnmore .present .row a {
	color: black;
	font-weight: 400;
}

.learnmore .present .row a:hover {
	color: black;
}

.contact-btn {
	display: block;
	margin: auto auto;
	width: 127px;
}

/*learnmore img manipulation*/
.concept img {
	max-width: 100%;
	display: block;
	margin: 10px auto 20px auto;
}

@media (min-width: 1200px){
	.concept img {
	max-width: 90%;
	}
}

@media (max-width: 991px){
	.present .text-div {
		display: block;
	}
	.present img {
		margin: auto auto;
		padding-top: 20px;
		width:90%;
	}
	.present .row > .col-xs-12 {
		margin: 0px 0px 10px 0px;
	}
}
@media (min-width: 992px){
	.present .row {
		font: 0/0 a;
		text-align: left;
	}
	.present .text-div {
		width:50%;
		height: 100%;
		display: inline-block;
		vertical-align:middle;
		text-align:left;
		/* font: 1rem/1 'Lato', sans-serif; */
	}
	.present .img-div {
		vertical-align:middle;
		display:inline-block;
		vertical-align: left;
		width: 50%;
	}
	.present .img-div img {
		display:block;
		margin: auto auto;
		max-width: 95%;
	}
	.learnmore-penpal	.present img:first-child {
		margin-bottom: 100px;
	}
	.present .row > .col-xs-12 {
		margin: 0px 0px 10px 0px;
	}
}

@media (min-width: 1200px){
	.learnmore-penpal	.present img:first-child {
		margin-bottom: 30px;
	}
	.learnmore-penpal .present .img-div img {
		max-width: 476px;
	}
}

@media (min-width: 1200px){
	.present .img-div img {
		max-width: 80%;
	}
}

/*Learn more Font size settings*/
.learnmore p {
	line-height: 1;
}


@media (max-width: 479px) {
	.learnmore h1 {
		font-size: 21px;
	}
	.learnmore p {
		font-size: 16px;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.learnmore h1 {
		font-size: 24px;
	}
	.learnmore p {
		font-size: 16px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.learnmore h1 {
		font-size: 26px;
	}
	.learnmore p {
		font-size: 18px;
	}
}
@media (min-width: 992px) {
	.learnmore h1 {
		font-size: 28px;
	}
	.learnmore p {
		font-size: 20px;
	}
}
@media (min-width: 1200px) {
	.learnmore h1 {
		font-size: 30px;
	}
	.learnmore p {
		font-size: 20px;
	}
}

/*map
----------------*/
.map .map-overlay {
	background:transparent; 
   position:relative; 
   width:100%;
   height:600px; /* your iframe height */
   top:600px;  /* your iframe height */
   margin-top:-600px;  /* your iframe height */
}


@media (min-width: 480px) and (max-width: 767px) {
	.map iframe {
		height: 400px;
	}
	.map .map-overlay {
		background:transparent; 
   position:relative; 
   width:100%;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
	}
}



/*Footer
--------------------*/
footer{
	margin: auto 30px;
}
.learnmore footer p{
	font-size: 14px;
}

/*Screen size specific CSS
--------------------------------------------------*/
@media (max-width: 479px) {
	.sm, .md, .lg {display:none;}
	.xs{display:block;}
	.mission h1,.summary h1, .content h1, .penpal-after, .device h1,
	.page-7 h1, .content-after h1, .contact h1, .contact h2, .penpal h1, .device-after h1, .penpal-before h1, .penpal-after h1{
		font-size: 21px;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.xs, .md, .lg {display:none;}
	.sm{display:block;}
	
	/*panel headings*/
	.mission h1,.summary h1, .content h1, .penpal-after, .device h1,
	.page-7 h1, .content-after h1, .contact h1, .contact h2, .penpal h1, .device-after h1, .penpal-before h1, .penpal-after h1{
		font-size: 24px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.xs, .sm, .lg {display:none;}
	.md{display:block;}
	.mission h1,.summary h1, .content h1, .penpal-after, .device h1,
	.page-7 h1, .content-after h1, .contact h1, .contact h2, .penpal h1, .device-after h1, .penpal-before h1, .penpal-after h1{
		font-size: 26px;
	}
}
@media (min-width: 992px) {
	.xs, .sm, .md {display:none;}
	.lg{display:block;}
	.mission h1,.summary h1, .content h1, .penpal-after, .device h1,
	.page-7 h1, .content-after h1, .contact h1, .contact h2, .penpal h1, .device-after h1, .penpal-before h1, .penpal-after h1{
		font-size: 28px;
	}
}
@media (min-width: 1200px) {
	.mission h1,.summary h1, .content h1, .penpal-after, .device h1,
	.page-7 h1, .content-after h1, .contact h1, .contact h2, .penpal h1, .device-after h1, .penpal-before h1, .penpal-after h1{
		font-size: 30px;
	}
}
