/* Global CSS
-----------------*/
/*font settings
------------------
Default is lato light(weight 300). To use lato normal change font-weight to 400.*/
body {
	overflow-x:hidden;
}

body,h1,h2,h3,h4,h5,h6,p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
.info-box h1, .page-7 h1, .page-9 h1 {
	font-weight:400;
}
/*text*/
h1,h2,h3 {
	text-align: center;
}

/*buttons*/
.btn {
	background-color: rgba(247,192,66,1);
/* 	box-shadow: 0px 3px 5px #000000; */
	border: none;
}

.btn:hover {
	background-color: rgba(247,192,66,.8);
}

.input-group  .form-control:last-child{
	border-radius: 10px;
}

/*Map*/
.page-13 iframe {
	border:0;
}

.page-13 iframe #mp-embeded-bar {
	display:none;
}

/* Navbar
-----------------*/
.navbar {
	margin-bottom: 0px;
	background-color: rgba(247,148,29,1);
	border-width: 0px;
}
.navbar ul {
   padding-right: 10px;
}
.navbar li a:link, .navbar li a:visited {
   color: rgba(247,192,66,1);
   font-weight: 400;
}
.navbar .logo {
	max-width: 155px;
	height: auto;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top: -6px;
}

/* Cover Page
----------------*/	
.cover-page, .picture-panel{
	position: relative;
}
.cover-page  > .col-xs-12, .picture-panel > .col-xs-12{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.cover-caption{
	background-color:rgba(126,157,228,.75);
	float: none;
	border-radius: 10px;
	padding: 20px 30px;
}
.cover-caption h3{
	margin: 0px auto 5px auto;
	color: white;
	text-align: center;
}
.cover-caption .container {
	width: 100%;
	padding: 0px;
}
.cover-caption .container a.btn {
	margin: 0px auto;
	width: 150px;
} 

/* Info-box
---------------------*/
.info-box {
	background-color:rgba(0,0,0,.6);
	float: none;
	border-radius: 10px;
}
.info-box h1{
	color: rgba(243,151,24,1);
	text-align: center;
}
.info-box p{
	color: rgba(243,151,24,1);
}

/* Page 2,5,7,9
----------------*/
.page-2, .page-7, .page-9, .page-11, .page-12{
	margin: 60px auto;
}
.page-2 h1, .page-7 h1, .page-9 h1, .page-11, .page-12{
	color:rgba(126,157,228,1);
	margin-bottom: 60px;
}
.page-2 img {
	float:right;
	max-width: 150px;
}

.page-2 img:hover {
	opacity: 0.7;
}

.page-2 .btn {
	margin: 52px 20px;
	float:left;
}
.page-7 img {
	display: block;
	margin: 30px auto;
}
.page-7 .col-xs-12 h2{
	text-align: center;
	margin: 30px 30px;
}
.page-7 h2, .page-9 h2, .page-9 h3{
	color: rgba(126,157,228,1);
	margin-left: 30px;
}
.page-7 h1, .page-9 h1, .page-9 h2{
	margin: 0px auto 30px auto;
}
/*page 9 contact form*/
.page-9 .input-group {
	width: 50%;
	margin: 20px auto;
	display: block
}
.page-9 .btn {
	margin: 20px auto;
	width: 200px;
}

/* Page 3,8,5
----------------*/
.page-3, .page-8, .page-5 {
	background-color:rgba(126,157,228,1);
	padding: 60px 0px;
}
.page-3 h1, .page-3 h2, .page-8 h1, .page-8 h2, .page-8 p, .page-5 h1{
	color: white;
}
.page-3 h1, .page-8 h1, .page-5 h1 {
	margin: 0px 30px 50px 30px;
}
.page-3 h2, .page-8 h2{
	font-size: 24px;
	margin: 0px auto 30px auto;
}
.page-3 img, .page-8 img{
	display:block;
	margin: auto auto;
}
.page-3 img:hover {
	opacity: .7;
}
.page-8 .row:nth-child(3){
	margin: 30px auto;
}
.page-5 h1{
	margin-bottom: 0px;
}

/*Footer
--------------------*/
footer{
	margin: auto 30px;
}

/*Screen size specific CSS
--------------------------------------------------*/
@media (max-width: 479px) {
	.sm, .md, .lg {display:none;}
	.xs{display:block;}
}
@media (min-width: 480px) and (max-width: 767px) {
	.xs, .md, .lg {display:none;}
	.sm{display:block;}
	
	/*cover-caption CSS*/
	.cover-caption{
		margin: 30% auto;
		width: 440px;
		height: 130px;
	}
	.cover-caption h3{
		font-size: 18px;
	}
	.cover-caption .container {
		margin: 18px auto;
	}
	
	/*info-box*/
	.info-box {
		margin: 6% 30px 30px auto;
		width: 330px;
		height: 370px;
		padding: 10px 20px;
	}
	.info-box h1{
		margin: 10px auto 10px auto;
		font-size: 24px;
	}
	.info-box p{
		font-size: 16px;
		margin: 0px 0px 10px 0px;
	}
	.info-box .button-div {
		margin: 0px 105px;
	}
	
	/*panel heading*/
	.page-2 h1,.page-3 h1, .page-4 h1, .page-5, .page-6 h1,
	.page-7 h1, .page-8 h1, .page-9 h1, .page-10 h1, .page-11 h1, .page-12 h1{
		font-size: 30px;
	}

	/*Page-8*/
	.page-8 .col-sm-4 {
		margin-bottom: 30px;
	}
	.page-8 .row:nth-child(3){
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.xs, .sm, .lg {display:none;}
	.md{display:block;}
	
	/*cover-caption CSS*/
	.cover-caption{
		margin: 35% auto;
		width: 440px;
		height: 130px;
	}
	.cover-caption h3{
		font-size: 18px;
	}
	.cover-caption .container {
		margin: 20px auto;
	}
	
	/*info-box */
	.info-box {
		margin: 50px 40px 60px auto;
		width: 300px;
		height: 480px;
		padding: 20px 30px;
	}
	.info-box h1{
		margin: 10px auto 20px auto;
		font-size: 30px;
	}
	.info-box p{
		font-size: 17px;
		margin: 0px 0px 20px 0px;
	}
	.info-box .button-div {
		margin: 30px 70px;
	}
}
@media (min-width: 992px) {
	.xs, .sm, .md {display:none;}
	.lg{display:block;}
	
	/*cover-caption CSS*/
	.cover-caption{
		margin: 35% auto;
		width: 500px;
		height: 160px;
	}
	.cover-caption h3{
		font-size: 24px;
	}
	.cover-caption .container {
		margin: 20px auto;
	}
	
	/*info box*/
	.info-box {
		margin: 8% 40px 60px auto;
		width: 340px;
		height: 560px;
		padding: 20px 30px;
	}
	.info-box h1{
		margin: 10px auto 40px auto;
		font-size: 36px;
	}
	.info-box p{
		font-size: 20px;
		margin: 0px 0px 30px 0px;
	}
	.info-box .button-div {
		margin: 30px 90px;
	}
	
	/*Page 2 */
	.page-2 h1, .page-11 h1, .page-12 h1, .page-5 h1{
		margin-left: 12%;
		margin-right: 12%;
	}
}
/*Special extra-large desktop case */
@media (min-width: 1200px) {
	.page-2 h1, .page-11 h1, .page-12 h1, .page-5 h1{
		margin-left: 15%;
		margin-right: 15%;
	}
}