//contact
.contact, footer{
	background-color: @secondary;
	color: white;
}
#contactForm .input-group {
	width: 100%;
	display: block;
	margin: auto auto;
}
#contactForm .btn {
	width: 100%;
	text-align:center;
}